:root {
    --lighter-grey-color: #ececec;
    --green-color: #9fd3c7;
    --blue-color: #385170;
    --dark-color: #142d4c;
}

html {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color:var(--dark-color)
}
body{
    padding: 0;
    margin:0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:var(--blue-color);
    font-weight: bold;
}

h1{
    margin: 0 0 10px;
    padding-top:10px;
    font-size: 1.5em;
}

h2{
    font-size: 1.2em;
}

.matching_etablissements-adresse{
    font-size: 0.9em;
}

#map {
    height: 580px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#company-card > * {
    padding:5px 10px;
}

#company-card .title {
    background: var(--lighter-grey-color);
    border-bottom: 1px solid var(--green-color)
}

#company-card .title .icon, 
#company-card .title .name{
    display: inline;
    color:var(--blue-color);

}

#filters{
    padding: 10px 5px;
    border-bottom: 1px solid var(--lighter-grey-color);
}

#filters label{
    margin-right: 15px;
    cursor: pointer;
}

button, input[type=button]{
    background: #fff;
    border:1px solid #aaa;
    cursor: pointer;
}