const env={
    "endpoint" : "https://recherche-entreprises.api.gouv.fr/near_point?",
    "defaultEndpointParams":{"lat":"47.450999", "long":"-0.555489", "radius":"0.5","per_page":"25"},
    "companyApi" : "src/index.php/",
    "noteEndpoint":"note",
    "cacheEndpoint":"cache/fromCache",
    "cache":false
}
